.DS_Store
Thumbs.db
*.log
*.tmp

.vscode/*
.idea/
*.code-workspace
*.suo
*.user
*.userosscache
*.sln.docstates

*.vcxproj*
*.pdb
*.opendb
*.VC.db
*.idb
*.tlog
*.lastbuildstate
*.obj
*.exe
*.dll
*.lib
*.manifest
*.ipr
*.iws
*.pch
*.aps
*.ncb
*.sdf
*.ipch
*.rsp
*.exp
*.ilk
_ReSharper*
TestResults/
*.vs/
.vs/

*.exe
*.out
*.test
*.log
*.prof
*.cover

/go.sum
/go.mod

/bin/

*.tmp
*.swp

**/.idea/**
**/.vscode/**
**/.env/**
**/.DS_Store/**
